<!DOCTYPE html>
<html>
    <head>
        <title>ChartJS - Doughnut</title>
         <script src="/jquery/jquery.js" type="text/javascript">></script>
        <script src="/chart.js/Chart.min.js" type="text/javascript">></script>
    </head>
    <body>
      <canvas id="mycanvas" width="150" height="150"></canvas>
  <script type="text/javascript">
  $(document).ready(function(){
  var ctx = $("#mycanvas").get(0).getContext("2d");

  var data = [
      {
          value: 50,
          color: "cornflowerblue",
          highlight: "lightskyblue",
          label: "Soda water"
      },
      {
          value: 50,
          color: "lightgreen",
          highlight: "yellowgreen",
          label: "Coffee"
      },
      {
          value: 40,
          color: "orange",
          highlight: "darkorange",
          label: "CSS"
      }
  ];

  // Options
  var pieOptions = {
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout: 50, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps: 150,
    //String - Animation easing effect
    animationEasing: "easeOutBounce",
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate: true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale: false,
    //Boolean - whether to make the chart responsive to window resizing
    responsive: false,
    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true
  };


  var chart = new Chart(ctx).Doughnut(data, pieOptions);
});
  </script>
      </body>
      </html>