{{> header}}
<p>
  Some of my projects
  <ul>
    <li><a href="https://wet-socks.herokuapp.com">Weather app</a>
      <ul>
        <li>Keywords: Nodejs Express Bootstrap Googleapis DarkskyAPI</li>
        <li><a href="https://github.com/sssmi/wet-socks" target="_blank">Github</a></li>
      </ul>
    </li>

    <li> <a href="https://skeleton-chat.herokuapp.com/">Skeleton chat</a>
      <ul>
        <li>Keywords: Nodejs Express Socket.io jQuery Mustache</li>
        <li><a href="https://github.com/sssmi/node-skeleton-chat" target="_blank">Github</a></li>
      </ul>
    </li>

    <li> Blog UI
      <ul>
        <li>Keywords: Html CSS Javascript</li>
        <li><a href="https://github.com/sssmi/simple-blog-ui" target="_blank">Github</a></li>
      </ul>
    </li>

    <li> <a href="/">Home page (this site)</a>
      <ul>
        <li>Keywords: Nodejs Express Handlebars</li>
        <li><a href="https://github.com/sssmi/node-web-server" target="_blank">Github</a></li>
      </ul>
    </li>
  </ul>
</p>

{{> footer}}
