{{> header}}
  <p>
    Some of my projects
    <ul>
      <li><a href="https://wet-socks.herokuapp.com">Weather app</a>
        <ul>
          <li>Keywords: Nodejs Express Bootstrap googleapis</li>
          <li><a href="https://github.com/sssmi/wet-socks" target="_blank">Github</a></li>
        </ul>

      </li>
    </ul>
  </p>

{{> footer}}